body {
    background: #efefef;
    overflow-x: hidden;
    /*position: absolute;*/
    /*background:url("https://cdn.luogu.com.cn/images/bg/fe/Day_And_Night_1.jpg");*/
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
