button.b {
    font-size: 20px;
    border: none;
    color: white;
    margin: 2%;
    border-radius: 5px;
    background: #0080ff;
    width: 93%;
    float: left;
    transition: color 0.3s, background 0.3s, border 0.3s;
}

button.b:hover {
    border: 1px solid #0080ff;
    color: #0080ff;
    background: white;
}

button.b:active {
    border: none;
    color: white;
    background: #0080ff;
}