div.maintext {
    background: rgba(252, 252, 252, 0.7);
    padding: 5px;
    border-radius: 5px;
    width: 78%;
    float: right;
}

button.skip {
    font-size: 20px;
    border: none;
    color: white;
    margin: 2%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    width: 93%;
    float: left;
    transition: background 0.5s;
}

button.skip:hover {
    background: rgba(100, 100, 100, 0.7);
}