a[data-v-639bc19b] {
    display: block;
    padding: .5em .5em;
    text-decoration: none
}

.icon[data-v-639bc19b] {
    text-align: center;
    margin: 0 .3em;
    font-size: 1.1em;
    display: inline-block;
    width: 1.5em;
    vertical-align: middle
}

.text[data-v-639bc19b] {
    font-size: .8em;
    vertical-align: middle
}