.full-container[data-v-6febb0e8] {
    display: block;
    margin-bottom: 2em;
}

.full-container[data-v-6febb0e8]::after {
    display: block;
    content: '';
    clear: both;
}
























































































/* ====== TABLE STYLE ====== */
.table[data-v-24f898d2] {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}

.table .header-wrap[data-v-24f898d2] {
    display: table-header-group;
}

.table .row-wrap[data-v-24f898d2] {
    display: table-row-group;
}

.table .header[data-v-24f898d2],
.table .row[data-v-24f898d2] {
    display: table-row;
}

.table .header>*[data-v-24f898d2],
.table .row>*[data-v-24f898d2] {
    display: table-cell;
}

.table .header>*[data-v-24f898d2] {
    padding-bottom: .5em;
    vertical-align: middle;
}

.table .header>*[data-v-24f898d2]:not(:last-child) {
    padding-right: 6px;
}

.table .row>*[data-v-24f898d2] {
    padding: .5em 0;
    vertical-align: middle;
}

.table .row>*[data-v-24f898d2]:not(:last-child) {
    padding-right: 6px;
}

/* ====== BLOCK STYLE ====== */
.block[data-v-24f898d2] {}

.block .header-wrap[data-v-24f898d2] {}

.block .row-wrap[data-v-24f898d2] {}

.block .header[data-v-24f898d2],
.block .row[data-v-24f898d2] {}

.block .header>*[data-v-24f898d2],
.block .row>*[data-v-24f898d2] {}

.block .header[data-v-24f898d2] {
    padding-bottom: .5em;
    vertical-align: middle;
}

.block .row[data-v-24f898d2] {
    padding: .5em 0;
    vertical-align: middle;
}

/* ====== GENERAL STYLE ====== */
.border .header-wrap[data-v-24f898d2] {
    border-bottom: 2px solid #e8e8e8;
}

.border .row[data-v-24f898d2]:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

.row[data-v-24f898d2] {
    font-variant-numeric: tabular-nums;
}

/* ====== BOTTOM ====== */
.bottom[data-v-24f898d2] {
    padding: 1.3em 0;
}

.bottom-inner[data-v-24f898d2] {
    align-items: center;
}

.float-bottom[data-v-24f898d2] {
    padding: 0.5em 1em;
    position: fixed;
    bottom: 0;
    width: calc(100% - 122px);
    max-width: 1168px;
    margin-left: -21px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    z-index: 99;
}

.float-bottom .bottom-inner[data-v-24f898d2] {
    justify-content: space-between;
}

.tool-mode[data-v-24f898d2] {
    float: left;
    margin-right: 1em;
}

.page-bar[data-v-24f898d2] {
    float: right;
    display: flex;
    align-items: center;
}

.border .page-bar[data-v-24f898d2] {
    border-top: 2px solid #e8e8e8;
}

.page-bar span[data-v-24f898d2] {
    margin-right: 1em;
}

.toolbar-left[data-v-24f898d2] {
    float: left;
}

@media (max-width: 1167px) {
    .bottom-inner[data-v-24f898d2] {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .total[data-v-24f898d2] {
        display: none;
    }

    .bottom[data-v-24f898d2] {
        width: calc(100% - 64px);
    }
}


.progress-frame[data-v-47712372] {
    box-sizing: border-box;
    background: #e8e8e8;
    border: 2px solid #e8e8e8;
    border-radius: 2px;
    height: 1em;
    overflow: hidden;
}

.progress-frame>div[data-v-47712372] {
    /*background: #3498db;*/
    width: 100%;
    height: 100%;
    border-radius: 1px 0 0 1px;
}


.id[data-v-128051e7] {
    min-width: 2em;
    max-width: 3em;
}

.name[data-v-128051e7] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.creator[data-v-128051e7] {
    max-width: 6em;
    min-width: 6em;
}

.progress[data-v-128051e7] {
    min-width: 3em;
    max-width: 4.5em;
}

.problem-count[data-v-128051e7],
.collection[data-v-128051e7] {
    min-width: 3em;
    max-width: 3.1em;
    text-align: center;
}


.no-wrap[data-v-e136d592] {
    white-space: nowrap;
}

section[data-v-e136d592] {
    display: flex;
    min-height: 3em;
    margin-bottom: 0;
    align-items: center;
}

.find-problem[data-v-e136d592] {
    margin-right: 1em;
}

.desc[data-v-e136d592] {
    margin-right: 3em;
}

/* result */
.result[data-v-e136d592] {
    display: flex;
    justify-content: space-between;
}

.result-count[data-v-e136d592] {
    color: rgba(0, 0, 0, 0.45);
}

.result-count>.number[data-v-e136d592] {
    color: rgba(0, 0, 0, 0.75);
    padding: 0 0.3em;
}

@media (max-width: 576px) {
    section[data-v-e136d592] {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0.5em;
    }

    .find-problem[data-v-e136d592] {
        margin-right: 0px;
        margin-bottom: 0.5em;
    }
}

li[data-v-44c8685a] {
    display: block;
    margin: .3em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span[data-v-44c8685a] {
    float: right;
    font-size: .8rem;
    color: #555;
}


.card[data-v-76edac88] {
    padding: 2em;
    text-align: center;
}

.card-header[data-v-76edac88] {
    margin-bottom: 1em;
    text-align: left;
}

.card-introduction[data-v-76edac88] {
    margin-bottom: 1em;
    color: #999;
    font-size: 0.8em;
    text-align: center;
}

.card-operations[data-v-76edac88] {
    margin-top: 1em;
}

.card-operations>*[data-v-76edac88] {
    margin-bottom: .5em;
}


.full-container[data-v-6febb0e8] {
    display: block;
    margin-bottom: 2em;
}

.full-container[data-v-6febb0e8]::after {
    display: block;
    content: '';
    clear: both;
}


.main[data-v-0cd59e64] {
    display: inline-block;
    width: calc(66.67% - .5em);
    box-sizing: border-box;
}

.side[data-v-0cd59e64] {
    width: calc(33.33% - .5em);
    float: right;
    box-sizing: border-box;
}

.side[data-v-0cd59e64] section {
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .main[data-v-0cd59e64] {
        width: 100%;
    }

    .side[data-v-0cd59e64] {
        margin: 1em 0;
        width: 100%;
        float: none;
    }
}



.spinner[data-v-bbdab89a],
.spinner>div[data-v-bbdab89a] {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner[data-v-bbdab89a] {
    display: block;
    font-size: 0;
    color: #fff;
}

.spinner>div[data-v-bbdab89a] {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.spinner>div[data-v-bbdab89a] {
    background: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: circle-spinner-clip-data-v-bbdab89a 1.5s linear infinite;
}

.spinner.dark[data-v-bbdab89a] {
    color: #333;
}

/* Animation keyframes */
@keyframes circle-spinner-clip-data-v-bbdab89a {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.wrapper[data-v-21e0a7cc] {
    position: relative;
    display: inline-block;
}

.message[data-v-21e0a7cc] {
    display: block;
    position: absolute;
    background-color: #333333;
    color: #fafafa;
    border-radius: 3px;
    font-size: .75em;
    z-index: 10;
    /* is it ok? */
    left: 50%;
    transform: translateX(-50%);
    padding: .5em;
    margin: 6px;
    min-width: 12em;
    max-width: 16em;
    white-space: pre-line;
    /* for animation */
    top: -7em;
    transition: .6s ease all;
    opacity: 0;
    pointer-events: none;
}

.wrapper .test-case:hover~.message[data-v-21e0a7cc],
.wrapper .test-case:focus~.message[data-v-21e0a7cc],
.wrapper .message[data-v-21e0a7cc]:hover {
    transition: .6s ease all;
    top: -3em;
    opacity: .8;
    pointer-events: auto;
}

.test-case[data-v-21e0a7cc] {
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin: 0.2em;
    height: 6em;
    width: 6em;
    padding: 0;
    color: #fff;
}

.id[data-v-21e0a7cc] {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    font-size: .65em;
}

.content[data-v-21e0a7cc] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.content>div[data-v-21e0a7cc] {
    padding-top: 2px;
    padding-bottom: 2px;
}

.status[data-v-21e0a7cc] {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
}

.info+.status[data-v-21e0a7cc] {
    font-size: 1.25em;
}

.info[data-v-21e0a7cc] {
    font-size: .7em;
    text-align: center;
}


.icon[data-v-1b44b3e6] {
    flex: none;
    width: 1em;
    text-align: center;
}


div[data-v-5ccef6e7] {
    display: flex;
    align-items: baseline;
}

.link[data-v-5ccef6e7] {
    margin-left: .3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pid[data-v-5ccef6e7] {
    width: 4em;
}


.info-rows>*[data-v-3a151854] {
    margin-bottom: var(--info-row-margin-bottom, 1em);
    display: flex;
    align-items: center;
}

.info-rows>*[data-v-3a151854]:last-child {
    margin-bottom: 0;
}

.info-rows>*>*[data-v-3a151854]:first-child {
    flex: 1 0 auto;
}


.compile-info[data-v-38d6a1a2] {
    padding: 1em;
    white-space: pre;
    overflow: auto;
    font-family: "Courier New", "Courier", monospace, monospace;
    border-left: 4px solid #ddd;
}

.copy-btn[data-v-38d6a1a2] {
    font-size: .8em;
    padding: 0 5px;
}

pre[data-v-38d6a1a2] {
    font-family: monospace;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    font-size: .875em;
    border-radius: 2px;
    margin: 0;
    padding: 1em;
    overflow-y: auto;
}

pre code[data-v-38d6a1a2] {
    background-color: #fafafa;
    tab-size: 4;
}

.sub-title[data-v-38d6a1a2] {
    display: inline-flex;
    align-items: center;
}

small[data-v-170dd51d] {
    font-size: 0.75em;
    color: #ddd;
    font-weight: 400;
}


.tags-wrap[data-v-187aafe9] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag[data-v-187aafe9] {
    margin-right: 5px;
}

.tag[data-v-187aafe9]:last-child {
    margin-right: 0;
}

.tags-wrap.multiline[data-v-187aafe9] {
    display: flex;
    flex-wrap: wrap;
}


.expand-tip[data-v-e4b7c2ca] {
    text-align: center;
}

.expand-tip>span[data-v-e4b7c2ca] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .3);
}

.expand-tip>span[data-v-e4b7c2ca]:hover {
    color: inherit;
}


.full-container[data-v-6febb0e8] {
    display: block;
    margin-bottom: 2em;
}

.full-container[data-v-6febb0e8]::after {
    display: block;
    content: '';
    clear: both;
}


.main[data-v-0cd59e64] {
    display: inline-block;
    width: calc(66.67% - .5em);
    box-sizing: border-box;
}

.side[data-v-0cd59e64] {
    width: calc(33.33% - .5em);
    float: right;
    box-sizing: border-box;
}

.side[data-v-0cd59e64] section {
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .main[data-v-0cd59e64] {
        width: 100%;
    }

    .side[data-v-0cd59e64] {
        margin: 1em 0;
        width: 100%;
        float: none;
    }
}



.spinner[data-v-bbdab89a],
.spinner>div[data-v-bbdab89a] {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner[data-v-bbdab89a] {
    display: block;
    font-size: 0;
    color: #fff;
}

.spinner>div[data-v-bbdab89a] {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.spinner>div[data-v-bbdab89a] {
    background: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: circle-spinner-clip-data-v-bbdab89a 1.5s linear infinite;
}

.spinner.dark[data-v-bbdab89a] {
    color: #333;
}

/* Animation keyframes */
@keyframes circle-spinner-clip-data-v-bbdab89a {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


h3[data-v-01cd4e24] {
    margin-top: 0;
    margin-bottom: 1em;
}

.lang-select[data-v-01cd4e24] {
    width: 12em;
    margin-right: .8em;
}

.editor[data-v-01cd4e24] {
    margin: 1em 0;
}

.light-black[data-v-01cd4e24] {
    color: rgba(0, 0, 0, .65);
}

.warning[data-v-01cd4e24] {
    color: #fff;
    padding: .75em;
}

.warning>header[data-v-01cd4e24] {
    margin-bottom: 0.6em;
    line-height: 1.5;
    font-weight: bold;
}

hr[data-v-01cd4e24] {
    height: 1px;
    background-color: #e8e8e8;
    border: none;
    margin: 20px 0;
}

.drop[data-v-01cd4e24] {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    align-self: center;
    flex-grow: 0 !important;
    width: 9em;
    height: 8.75em;
    user-select: none;
    cursor: pointer;

    margin: 1em auto;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 4px;

    --fa-primary-color: #3498db;
    --fa-secondary-color: #3498db;
}

.drop[data-v-01cd4e24]:hover {
    border-color: #89d1f5;
}


.icon[data-v-1b44b3e6] {
    flex: none;
    width: 1em;
    text-align: center;
}


div[data-v-5ccef6e7] {
    display: flex;
    align-items: baseline;
}

.link[data-v-5ccef6e7] {
    margin-left: .3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pid[data-v-5ccef6e7] {
    width: 4em;
}


span[data-v-263e39b8] {
    font-weight: bold;
}


.info-rows>*[data-v-3a151854] {
    margin-bottom: var(--info-row-margin-bottom, 1em);
    display: flex;
    align-items: center;
}

.info-rows>*[data-v-3a151854]:last-child {
    margin-bottom: 0;
}

.info-rows>*>*[data-v-3a151854]:first-child {
    flex: 1 0 auto;
}


div[data-v-0a593618] {
    user-select: none;
    position: relative;
}

div img[data-v-0a593618] {
    width: 100%;
}

div>span[data-v-0a593618] {
    position: absolute;
    left: .75rem;
    bottom: .75rem;
    font-size: .875rem;
    color: rgba(255, 255, 255, .8);
    pointer-events: none;
}

div>button[data-v-0a593618] {
    position: absolute;
    right: .75rem;
    top: .75rem;
    font-size: .875rem;
}


.tip[data-v-677cfb26] {
    margin-top: 0.5em;
    margin-bottom: 1em;
}