.inner-card[data-v-7cdb640e] {
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 0.375em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box[data-v-7cdb640e] {
    display: flex;
    flex-wrap: wrap;
}

.box>*[data-v-7cdb640e] {
    margin-right: .75em;
}

@media (max-width: 576px) {
    .inner-card[data-v-7cdb640e] {
        flex-direction: column;
        justify-content: flex-start;
    }
}