.problems[data-v-e1731a40] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.problems[data-v-e1731a40]::after {
    content: '';
    flex: auto;
}

.problem-id[data-v-e1731a40] {
    width: 12.5%;
    text-align: center;
    white-space: nowrap;
    min-width: 72px;
}

@media (max-width: 1400px) {
    .problem-id[data-v-e1731a40] {
        width: 20%;
    }
}

@media (max-width: 1000px) {
    .problem-id[data-v-e1731a40] {
        width: 25%;
    }
}

.caption[data-v-e1731a40] {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.25);
}


.difficulty-tags[data-v-325cf452] {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e8e8e8;
}

.row[data-v-325cf452] {
    height: 34px;
    padding: 0.25em 0.5em;
    border: solid #e8e8e8;
    border-width: 1px 1px 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problem-count[data-v-325cf452] {
    font-size: 0.875em;
}

.caption[data-v-325cf452] {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.25);
}


.user-header-top[data-v-1d7cf8d5] {
    position: relative;
    height: 240px;
    background-size: cover;
    background-position: center;
}

.cover-upload[data-v-1d7cf8d5] {
    position: absolute;
    top: 240px;
    /* height of .user-header-top */
    left: 0;
    z-index: 20;
    transition: .6s ease all;

    padding: 24px;
    width: calc(100% - 48px);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.5);
}

.cover-upload.hide[data-v-1d7cf8d5] {
    pointer-events: none;
    top: 0;
    opacity: 0;
}

.cover-upload>div[data-v-1d7cf8d5] {
    display: flex;
    flex-flow: row wrap;
}

.user-action[data-v-1d7cf8d5] {
    vertical-align: middle;
    position: absolute;
    bottom: 24px;
    right: 12px;
    color: #fff;
}

.user-action button[data-v-1d7cf8d5] {
    vertical-align: unset;
    /* hack */
}

.avatar[data-v-1d7cf8d5] {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.user-header-top>.avatar[data-v-1d7cf8d5] {
    position: absolute;
    bottom: 24px;
    left: 24px;
    border: 1px solid #979797;
}

.user-header-bottom[data-v-1d7cf8d5] {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media (max-width: 576px) {
    .user-header-top[data-v-1d7cf8d5] {
        height: 100px;
    }

    .cover-upload[data-v-1d7cf8d5] {
        top: 100px;
    }

    .user-header-bottom[data-v-1d7cf8d5] {
        padding: 0 .75em;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .user-action[data-v-1d7cf8d5] {
        top: 112px;
        /* 112px = 100px(.user-header-top[height]) + 12px */
        bottom: unset;
        color: unset;
    }

    .avatar[data-v-1d7cf8d5] {
        width: 72px;
        height: 72px;
    }

    .user-header-top>.avatar[data-v-1d7cf8d5] {
        bottom: -36px;
        left: .75em;
    }

    .user-info[data-v-1d7cf8d5] {
        margin-top: 45px;
        /* 45px = 36px(half of avatar) + 9px */
        margin-left: .75em;
    }

    .user-info>*[data-v-1d7cf8d5] {
        margin-bottom: .375em;
    }

    .user-info .user-name[data-v-1d7cf8d5] {
        font-size: 1.125em;
        font-weight: bold;
    }
}

@media (min-width: 577px) {
    .user-info[data-v-1d7cf8d5] {
        color: #fff;
        position: absolute;
        bottom: 30px;
        left: 96px;
        text-shadow: 1px 1px 3px #333;
    }

    .user-info .user-name[data-v-1d7cf8d5] {
        font-size: 1.5em;
    }
}

.icon-change-cover[data-v-1d7cf8d5] {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.input[data-v-1d7cf8d5] {
    font-size: 0.875em;
    width: 80%;
    max-width: 375px;
}

.dropdown-operations[data-v-1d7cf8d5] {
    margin-top: 10px;
    width: 5rem;
    color: #333;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.dropdown-operations>ul[data-v-1d7cf8d5] {
    padding: 0;
    /* Reset. */
    margin: 0;
    /* Reset. */
    max-height: 10em;
    list-style: none;
    outline: none;
    font-size: .875rem;
}

.dropdown-operations>ul li[data-v-1d7cf8d5] {
    display: block;
    padding: 3px 0;
    cursor: pointer;
    text-align: center;
}

.dropdown-operations>ul li[data-v-1d7cf8d5]:hover {
    background: #eee;
}


.follow-container[data-v-447a6234] {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0;
}

.follow-left[data-v-447a6234] {
    display: flex;
}

.avatar[data-v-447a6234] {
    margin-right: 10px;
}

.avatar img[data-v-447a6234] {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.description[data-v-447a6234] {
    font-size: 0.875em;
    padding: 0.5em 0;
}

.btn-follow[data-v-447a6234] {
    white-space: nowrap;
}


.inner-card[data-v-62e64f9a] {
    background-color: #fafafa;
    border: 0.5px solid #e8e8e8;
    padding: 0.375em 0.75em;
    display: flex;
    margin: 6px .5em;
    justify-content: space-between;
    align-items: center;
}

.team-left[data-v-62e64f9a] {
    display: flex;
}

.team-id[data-v-62e64f9a] {
    margin-right: 1em;
}

.team-name[data-v-62e64f9a] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.team-authority[data-v-62e64f9a] {
    white-space: nowrap;
}


.inner-card[data-v-78fafe5c] {
    background-color: #fafafa;
    border: 0.5px solid #e8e8e8;
    padding: 0.375em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-box[data-v-78fafe5c] {
    flex: 4;
}

.middle-box[data-v-78fafe5c] {
    flex: 1;
}

.right-box[data-v-78fafe5c] {
    flex: 1;
    flex-wrap: nowrap;
    flex-basis: 4em;
    text-align: left;
}

.item-title[data-v-78fafe5c] {
    color: #404040;
}

.post-source[data-v-78fafe5c],
.create-time[data-v-78fafe5c],
.last-reply-time[data-v-78fafe5c],
.last-reply-author[data-v-78fafe5c] {
    font-size: 0.875em;
    white-space: nowrap;
}

.create-time[data-v-78fafe5c],
.last-reply-time[data-v-78fafe5c],
.last-reply-author[data-v-78fafe5c] {
    color: #7d7d7d;
}

.post-source[data-v-78fafe5c],
.post-name[data-v-78fafe5c] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 790px) {
    .middle-box[data-v-78fafe5c] {
        display: none;
    }
}

@media (max-width: 576px) {
    .inner-card[data-v-78fafe5c] {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-source[data-v-78fafe5c],
    .post-name[data-v-78fafe5c] {
        white-space: normal;
    }
}


.feed[data-v-d26e5c98] {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.feed>.avatar[data-v-d26e5c98] {
    flex-basis: 72px;
    flex-shrink: 0;
}

.feed>.avatar img[data-v-d26e5c98] {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.feed>.more[data-v-d26e5c98] {
    position: absolute;
    top: 4px;
    right: 0;
}

.feed>.main[data-v-d26e5c98] {
    display: flex;
    flex-direction: column;
}

.feed>.main>.content[data-v-d26e5c98] {
    margin: .5em 0;
}

/* force reset style */
[data-v-d26e5c98] .rendered>p {
    margin: 0 !important;
}

[data-v-d26e5c98] .rendered a {
    text-decoration: none;
    color: #3498db;
}

[data-v-d26e5c98] .rendered a:hover {
    color: #0056b3;
}

.feed>.main>.operations[data-v-d26e5c98] {
    font-size: .875em;
}

.feed>.main>.operations>*[data-v-d26e5c98] {
    margin-right: 2em;
}

.feed>.main>.operations>*[data-v-d26e5c98]:last-child {
    margin-right: 0;
}

.feed>.main>.operations>.button[data-v-d26e5c98] {
    user-select: none;
    cursor: pointer;
    opacity: .5;
    transition: .5s ease all;
}

.feed>.main>.operations>.button[data-v-d26e5c98]:hover {
    opacity: 1;
}

.operations>.button:hover.comment[data-v-d26e5c98] {
    color: #3498db;
}

.operations>.button:hover.forward[data-v-d26e5c98] {
    color: #52c41a;
}

.operations>.button:hover.like[data-v-d26e5c98] {
    color: #e74c3c;
}

.dropdown-operations[data-v-d26e5c98] {
    width: 4rem;
    color: #333;
    background: #fff;
    border-radius: 2px;
    border: solid 1px #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.dropdown-operations>ul[data-v-d26e5c98] {
    padding: 0;
    /* Reset. */
    margin: 0;
    /* Reset. */
    max-height: 10em;
    list-style: none;
    outline: none;
    font-size: .875rem;
}

.dropdown-operations>ul li[data-v-d26e5c98] {
    display: block;
    padding: 3px 0;
    cursor: pointer;
    text-align: center;
}

.dropdown-operations>ul li[data-v-d26e5c98]:hover {
    background: #eee;
}


.wrapper>*[data-v-20cf19dd] {
    padding: .75em 0;
    border-bottom: 1px solid #e8e8e8;
}

.wrapper>*[data-v-20cf19dd]:last-child {
    border-bottom: unset;
}

.load-more[data-v-20cf19dd] {
    text-align: center;
    color: #bbb;
    user-select: none;
    min-height: 20px;
}

.load-more[data-v-20cf19dd]:hover {
    color: #333;
}


.introduction[data-v-037493a8] {
    overflow: hidden;
    overflow-wrap: break-word;
}

.user-header-container[data-v-037493a8] {
    margin-top: 1.5rem;
}

.info-content[data-v-037493a8] {
    color: rgba(0, 0, 0, 0.45);
}

.sub-header[data-v-037493a8] {
    padding: 1.5rem;
    border-bottom: 1px solid #e8e8e8;
}

.sub-body[data-v-037493a8] {
    margin: 0 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

/* team list */
.team-list[data-v-037493a8] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-list[data-v-037493a8]:after {
    content: '';
    flex: auto;
}

.team-list>div[data-v-037493a8] {
    width: 50%;
    white-space: nowrap;
}

.select-header[data-v-037493a8] {
    font-size: 1.125rem;
}

[data-v-037493a8] .select-header .item-selected {
    font-weight: bold;
}

.item[data-v-037493a8]:not(:last-child) {
    margin-bottom: 1.125rem;
}

@media (max-width: 576px) {
    .team-list[data-v-037493a8] {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
    }

    .team-list>div[data-v-037493a8] {
        width: unset;
    }
}

.main[data-v-0cd59e64] {
    display: inline-block;
    width: calc(66.67% - .5em);
    box-sizing: border-box;
}

.side[data-v-0cd59e64] {
    width: calc(33.33% - .5em);
    float: right;
    box-sizing: border-box;
}

.side[data-v-0cd59e64] section {
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .main[data-v-0cd59e64] {
        width: 100%;
    }

    .side[data-v-0cd59e64] {
        margin: 1em 0;
        width: 100%;
        float: none;
    }
}



.spinner[data-v-bbdab89a],
.spinner>div[data-v-bbdab89a] {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner[data-v-bbdab89a] {
    display: block;
    font-size: 0;
    color: #fff;
}

.spinner>div[data-v-bbdab89a] {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.spinner>div[data-v-bbdab89a] {
    background: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: circle-spinner-clip-data-v-bbdab89a 1.5s linear infinite;
}

.spinner.dark[data-v-bbdab89a] {
    color: #333;
}

/* Animation keyframes */
@keyframes circle-spinner-clip-data-v-bbdab89a {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.tag[data-v-57ac2e84] {
    white-space: nowrap;
}


.inner-card[data-v-29a65e17] {
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 0.375em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box[data-v-29a65e17] {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box>*[data-v-29a65e17] {
    margin-right: .75em;
}

.right-box[data-v-29a65e17] {
    justify-content: flex-end;
}

.name[data-v-29a65e17] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 30em;
}

@media (max-width: 576px) {
    .inner-card[data-v-29a65e17] {
        flex-direction: column;
        align-items: flex-start;
    }

    .name[data-v-29a65e17] {
        max-width: 17em;
    }
}


.info-rows>*[data-v-3a151854] {
    margin-bottom: var(--info-row-margin-bottom, 1em);
    display: flex;
    align-items: center;
}

.info-rows>*[data-v-3a151854]:last-child {
    margin-bottom: 0;
}

.info-rows>*>*[data-v-3a151854]:first-child {
    flex: 1 0 auto;
}


.tag[data-v-c0996248] {
    white-space: nowrap;
}


.inner-card[data-v-4b8033a4] {
    background-color: #fafafa;
    border: 0.5px solid #e8e8e8;
    padding: 0.375em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box[data-v-4b8033a4] {
    display: flex;
    align-items: center;
}

.box>*[data-v-4b8033a4] {
    margin-right: 1em;
}


.inner-card[data-v-7cdb640e] {
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 0.375em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box[data-v-7cdb640e] {
    display: flex;
    flex-wrap: wrap;
}

.box>*[data-v-7cdb640e] {
    margin-right: .75em;
}

@media (max-width: 576px) {
    .inner-card[data-v-7cdb640e] {
        flex-direction: column;
        justify-content: flex-start;
    }
}























































































/* ====== TABLE STYLE ====== */
.table[data-v-24f898d2] {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}

.table .header-wrap[data-v-24f898d2] {
    display: table-header-group;
}

.table .row-wrap[data-v-24f898d2] {
    display: table-row-group;
}

.table .header[data-v-24f898d2],
.table .row[data-v-24f898d2] {
    display: table-row;
}

.table .header>*[data-v-24f898d2],
.table .row>*[data-v-24f898d2] {
    display: table-cell;
}

.table .header>*[data-v-24f898d2] {
    padding-bottom: .5em;
    vertical-align: middle;
}

.table .header>*[data-v-24f898d2]:not(:last-child) {
    padding-right: 6px;
}

.table .row>*[data-v-24f898d2] {
    padding: .5em 0;
    vertical-align: middle;
}

.table .row>*[data-v-24f898d2]:not(:last-child) {
    padding-right: 6px;
}

/* ====== BLOCK STYLE ====== */
.block[data-v-24f898d2] {}

.block .header-wrap[data-v-24f898d2] {}

.block .row-wrap[data-v-24f898d2] {}

.block .header[data-v-24f898d2],
.block .row[data-v-24f898d2] {}

.block .header>*[data-v-24f898d2],
.block .row>*[data-v-24f898d2] {}

.block .header[data-v-24f898d2] {
    padding-bottom: .5em;
    vertical-align: middle;
}

.block .row[data-v-24f898d2] {
    padding: .5em 0;
    vertical-align: middle;
}

/* ====== GENERAL STYLE ====== */
.border .header-wrap[data-v-24f898d2] {
    border-bottom: 2px solid #e8e8e8;
}

.border .row[data-v-24f898d2]:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

.row[data-v-24f898d2] {
    font-variant-numeric: tabular-nums;
}

/* ====== BOTTOM ====== */
.bottom[data-v-24f898d2] {
    padding: 1.3em 0;
}

.bottom-inner[data-v-24f898d2] {
    align-items: center;
}

.float-bottom[data-v-24f898d2] {
    padding: 0.5em 1em;
    position: fixed;
    bottom: 0;
    width: calc(100% - 122px);
    max-width: 1168px;
    margin-left: -21px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    z-index: 99;
}

.float-bottom .bottom-inner[data-v-24f898d2] {
    justify-content: space-between;
}

.tool-mode[data-v-24f898d2] {
    float: left;
    margin-right: 1em;
}

.page-bar[data-v-24f898d2] {
    float: right;
    display: flex;
    align-items: center;
}

.border .page-bar[data-v-24f898d2] {
    border-top: 2px solid #e8e8e8;
}

.page-bar span[data-v-24f898d2] {
    margin-right: 1em;
}

.toolbar-left[data-v-24f898d2] {
    float: left;
}

@media (max-width: 1167px) {
    .bottom-inner[data-v-24f898d2] {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .total[data-v-24f898d2] {
        display: none;
    }

    .bottom[data-v-24f898d2] {
        width: calc(100% - 64px);
    }
}


.progress-frame[data-v-47712372] {
    box-sizing: border-box;
    background: #e8e8e8;
    border: 2px solid #e8e8e8;
    border-radius: 2px;
    height: 1em;
    overflow: hidden;
}

.progress-frame>div[data-v-47712372] {
    /*background: #3498db;*/
    width: 100%;
    height: 100%;
    border-radius: 1px 0 0 1px;
}


.tags-wrap[data-v-187aafe9] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag[data-v-187aafe9] {
    margin-right: 5px;
}

.tag[data-v-187aafe9]:last-child {
    margin-right: 0;
}

.tags-wrap.multiline[data-v-187aafe9] {
    display: flex;
    flex-wrap: wrap;
}


.icon[data-v-1b44b3e6] {
    flex: none;
    width: 1em;
    text-align: center;
}


.checkbox[data-v-c06fccc2] {
    text-align: center;
}

.header .checkbox[data-v-c06fccc2] {
    font-size: 16px;
}

.status[data-v-c06fccc2] {
    min-width: 2.5em;
    width: 2.5em;
    text-align: center;
}

.pid[data-v-c06fccc2] {
    min-width: 5.5em;
    width: 5.5em;
}

.tag[data-v-c06fccc2] {
    white-space: nowrap;
    min-width: 10em;
}

.title[data-v-c06fccc2] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.difficulty[data-v-c06fccc2] {
    width: 8.5em;
    text-align: center;
    white-space: nowrap;
}

.progress[data-v-c06fccc2] {
    min-width: 5em;
    width: 5em;
    text-align: center;
}

.toolbar[data-v-c06fccc2] {
    display: flex;
    justify-content: space-between;
}

.bar-item[data-v-c06fccc2],
.bar-title[data-v-c06fccc2] {
    margin-right: 1em;
    vertical-align: bottom;
    white-space: nowrap;
    cursor: pointer;
}

.bar-item[data-v-c06fccc2]:hover {
    color: #0056b3;
}

.icon[data-v-c06fccc2] {
    padding-right: 0.3em;
}

.copy-input[data-v-c06fccc2] {
    position: absolute;
    left: -2333px;
}

.btn-checkbox[data-v-c06fccc2] {
    margin-right: 1em;
}

.toolbar-right[data-v-c06fccc2] {
    float: right;
}

@media (max-width: 576px) {
    .hz-icon[data-v-c06fccc2] {
        display: none;
    }

    .toolbar-right[data-v-c06fccc2] {
        float: left;
    }
}


.full-container[data-v-6febb0e8] {
    display: block;
    margin-bottom: 2em;
}

.full-container[data-v-6febb0e8]::after {
    display: block;
    content: '';
    clear: both;
}

.left[data-v-e6ccd65e] {
    height: 3em;
    display: flex;
    align-items: center;
}

.left .header-logo[data-v-e6ccd65e] {
    height: 3em;
    vertical-align: middle;
}

.container[data-v-e6ccd65e] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    color: #333;
}

.link-container[data-v-e6ccd65e] {
    flex: 1;
    height: 100%;
    padding-left: 3em;
}

.header-link[data-v-e6ccd65e] {
    vertical-align: middle;
    margin-right: 2em;
    color: #262626;
}

.helper[data-v-e6ccd65e] {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 576px) {
    .user-nav[data-v-e6ccd65e] {
        display: none;
    }

    .left .header-logo[data-v-e6ccd65e] {
        height: 1.875em;
    }
}